@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;600;700&family=Nunito:wght@300;400;600;700&family=Poppins:wght@400;500;700&display=swap");
@font-face {
  font-family: "Gumela";
  src: url("../fonts/Gumela/Gumela.eot");
  src: url("../fonts/Gumela/Gumela.woff") format("woff"), url("../fonts/Gumela/Gumela.ttf") format("truetype"), url("../fonts/Gumela/Gumela.svg#Gumela") format("svg"),
    url("../fonts/Gumela/Gumela.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Soviet";
  src: url("../fonts/Soviet/Soviet.eot");
  src: url("../fonts/Soviet/Soviet.woff") format("woff"), url("../fonts/Soviet/Soviet.ttf") format("truetype"), url("../fonts/Soviet/Soviet.svg#Soviet") format("svg"),
    url("../fonts/Soviet/Soviet.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri/HindSiliguri.eot");
  src: url("../fonts/HindSiliguri/HindSiliguri.woff") format("woff"), url("../fonts/HindSiliguri/HindSiliguri.ttf") format("truetype"),
    url("../fonts/HindSiliguri/HindSiliguri.svg#HindSiliguri") format("svg"), url("../fonts/HindSiliguri/HindSiliguri.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
