@import "Variable";

.text-blue-100 {
  color: $clr-blue-100;
}
.text-blue-400 {
  color: $clr-blue-400;
}
.text-black-200 {
  color: $clr-black-200;
}
.text-black-300 {
  color: $clr-black-300;
}
.text-white-400 {
  color: $clr-white-400;
}
.bg-blue-100 {
  background-color: $clr-blue-100;
}
.bg-blue-400 {
  background-color: $clr-blue-400;
}
.bg-black-200 {
  background-color: $clr-black-200;
}
.bg-black-300 {
  background-color: $clr-black-300;
}
.bg-white-400 {
  background-color: $clr-white-400;
}
.fs-text {
  font-size: var(--fs-body);
  font-family: $ff-text;
}
.fs-body {
  font-size: var(--fs-body);
  font-family: $ff-body;
}
.fs-nav {
  font-size: var(--fs-nav);
  font-family: $ff-nav;
}
.fs-home-heading {
  font-size: var(--fs-home-heading);
  font-family: $ff-home-heading;
  letter-spacing: 1px;
  user-select: none;
}
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  font-family: $ff-primary-heading;
  cursor: default;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  font-family: $ff-secondary-heading;
}
.fw-regular {
  font-weight: 400;
}
.fw-semi-bold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
.container {
  margin-inline: auto;
  width: min(1110px, 100% - 1rem);
}
.even-columns {
  display: grid;
  gap: 2rem;
}
@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
.grid-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  width: 85%;
  margin-inline: auto;
}
@media (min-width: 426px) {
  .grid-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
@media (min-width: 50em) {
  .grid-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
  }
}
.grid-items-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-inline: auto;
}
@media (min-width: 426px) {
  .grid-items-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 50em) {
  .grid-items-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section-padding-block-900 {
  padding-block: var(--size-900);
}
.section-padding-block-start {
  padding-block-start: var(--block-space, var(--size-900));
}
:is(.flow :not(:first-child)) {
  margin-top: var(--flow-space, 0.5em);
}
.center-heading {
  text-align: center;
}
.button {
  padding: 0.5rem 1.5rem;
  outline: none;
  border: 1px solid $clr-white-400;
  background: transparent;
  color: $clr-white-400;
  font-family: $ff-button;
  font-size: var(--fs-nav);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  &:hover {
    background-color: $clr-blue-400;
    border: 1px solid transparent;
  }
}
